body {
	margin: 0;
	padding: 0;
}

button, h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nonograms-container {
	border: 5px solid #666;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.nonograms-container td {
	margin: 0;
	padding: 0;
}

.nonograms-container img {
	display: block;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	border: 1px solid black;
	margin: 0;
    padding: 0;
	height: 30px;
	width: 30px;
}

.nonograms-section-one {
	background: #ccc;
}

p {
	margin: 0;
    padding: 0;
    border: 0;
}