<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <title>Nonograms Puzzle</title>
        <meta name="description" content="A Javascript implementation of a Nonograms puzzle for 2016 puzzle comps.">
		<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='nono.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
	<body>
		<script type="text/javascript">
		$( document ).ready( function() {
			var game = Nonograms.getInstance();
			game.getGameBoard();
			$( '#reset').click( function() {
				game.reset();
			} );
			$( '#check').click( function() {
				game.check();
            } );
            $( '#nextPuzzle').click( function() {
                game.nextPuzzle();
            } );
		} );
		</script>
		<div id="buttonsDiv">
			<button class="button" id="reset">Reset</button>
			<button class="button" id="check">Check</button>
		</div>
		<div id="board"></div>
		<div id="finish" class="overlay">
			<div class="overlay-content">
				<p id="title"></p>
                <p id="body"></p>
                <button id="nextPuzzle">Next Puzzle</button>
			</div>
		</div>
	</body>
</html>
